{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit User</h1>
    <form method='POST'>
        <label for="firstname">First Name: </label>
        <input type="text" placeholder="User First Name" name="firstname", id="firstname" value='{{foundUser.first_name}}'>
        <label for="lastname">Last Name: </label>
        <input type="text" placeholder="User Last Name" name="lastname", id="lastname" value='{{foundUser.last_name}}'>
        <button>Update User</button>
    </form>
{% endblock %}