{% extends 'base.html' %}
{% block content %}
    <h1>Add a post for {{ foundUser.first_name }}</h1>
    <form action='/users/{{foundUser.id}}/posts/new' method='POST'>
        <div>
            <label for="title">Title: </label>
            <input type="text" name="title", id="title">
        </div>
        <div>
            <label for="content">Content: </label>
            <textarea col="25" row="8" name="content" id="content"></textarea>
        </div>
        <a class="btn" role="button" href='/users/{{foundUser.id}}/'>Cancel</a>
        <button type="submit">Add Post!</button>
    </form>
{% endblock %}
