{% extends 'base.html' %}
{% block content %}
    {% for msg in get_flashed_messages() %}
        {{ msg }}
    {% endfor %}
        <h2>Details of {{user.first_name}}'s Post</h2>
        <h3>{{ post.title }}</h3>
        <h3>{{ post.content }}</h3>
        <a class="btn" role="button" href='/posts/{{post.id}}/edit'>Edit Post</a>
        <a class="btn" role="button" href='/posts/{{post.id}}/delete'>Delete Post</a>
        <a class="btn" role="button" href='/users/{{user.id}}'>Back to User Details</a>
{% endblock %}