{% extends 'base.html' %}

{% block content %}
<h1>Users Page</h1>
    <ul>
        {% for user in users %}
            <li><a href='/users/{{user.id}}'>First Name: {{ user.first_name }}, Last Name: {{ user.last_name }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <p>
        {% for msg in get_flashed_messages() %}
            {{ msg }}
        {% endfor %}
    </p>
    <h2>Add New User:</h2>
    <form action="/users" method='POST'>
        <label for="firstname">First Name: </label>
        <input type="text" placeholder="User First Name" name="firstname", id="firstname">
        <label for="lastname">Last Name: </label>
        <input type="text" placeholder="User Last Name" name="lastname", id="lastname">
        <button>Add New User!</button>
    </form>

{% endblock %}
